---
import Counter from "../components/Counter.vue";
import Main from "../layouts/Main.astro";
---

<Main title="Welcome to Astro." lang="pl">
  <style>
    html,
    body {
      font-family: system-ui;
      margin: 0;
    }
    body {
      padding: 2rem;
    }
  </style>

  
    <Counter client:visible>
      <h1 class="text-lime-600">Hello, Vue!</h1>
    </Counter>
</Main>
